/**Responsive**/
@media only screen and (min-width: 576px) and (max-width: 1105px) {
    header {
        background-position: center;
        background-size: cover;
        height: 240px;
        width: 100%;
    }

    .header-logo {
        gap: 20px;
        padding-top: 10px;
        padding-right: 15px;
    }

    .revou {
        width: 40px;
    }

    .km,
    .msib {
        width: 60px;
        height: 40px;
    }

    header h1 {
        font-size: 2em;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    header p {
        font-size: 25px;
    }

    .header-nav {
        padding-top: 5px;
    }

    .nav-list {
        font-size: 20px;
    }

    .nav-item a {
        font-size: 12px;
    }

    .nav-item a:hover {
        border-radius: 5px;
    }

    .grafik-section {
        margin: 0 20px 10px 20px;
    }

    [class*="-container"] {
        width: 100%;
    }

    .chart-container {
        height: 300px;
    }

    .lineChart,
    .barChart,
    .unitsLineChart,
    .pieChart {
        height: 280px;
    }

    .pie-container {
        height: 300px;
    }

    .table-container {
        height: 520px;
        font-size: 8px;
        margin-bottom: 22px;
    }

    div.dt-container .dt-layout-row {
        display: flex;
        float: right;
    }

    div.dt-container .dt-layout-row .dt-input {
        height: 20px;
        font-size: 8px;

    }

    .dashboard {
        display: flex;
        flex-direction: column;
        justify-content: right;
        gap: 15px;
        align-items: center;
    }

    .filter {
        display: flex;
        justify-content: right;
        gap: 10px;
        margin-bottom: 0;
    }

    #boroughFilter {
        width: 120px;
    }

    #neighborhoodFilter {
        width: 150px;
    }

    #buildingClassFilter {
        width: 200px;
    }

    .image-member {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 13px;
    }

    .h4-team-member {
        text-align: center;
        font-size: 12px;
        margin: 7px;
        width: 100px;
    }

    .background {
        padding: 40px 40px;
    }

    .container {
        text-align: center;
    }

    .upskill {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .req {
        font-family: "Libre Baskerville", serif;
        color: #ffff;
        margin-bottom: 10px;
        font-size: 35px;
    }

    .visual {
        text-align: center;
        width: 100%;
        font-family: "Actor", sans-serif;
        font-size: 15px;
        color: #ffff;
        opacity: 0.8;
        line-height: 1.8;
        margin-bottom: 45px;
    }

    .button button {
        font-family: "Actor", sans-serif;
        font-size: 15px;
        font-weight: 500px;
        color: #ffff;
        border: none;
        padding: 20px 60px;
        border-radius: 30px;
        background-color: #0081fe;
        margin-bottom: 50px;
    }

    .button button:hover {
        background-color: #4ea7ff;
    }

    .cr {
        font-family: "Actor", sans-serif;
        font-size: 16px;
        color: #ffff;
        opacity: 0.7;
        margin-bottom: 50px;
    }

    .line {
        border: 1px solid #fff;
        opacity: 0.2;
        margin-bottom: 32px;
    }


    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 15px;
        padding: 0;
    }

    .footer-img {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .footer-p {
        display: flex;
        flex: 2;
        justify-content: center;
        gap: 45px;
        font-family: "Actor", sans-serif;
        font-size: 16px;
        color: #fff;
    }

    .footer-p a {
        color: inherit;
        text-decoration: none;
    }

    .footer-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        gap: 25px;
    }
}



@media only screen and (max-width: 575px) {
    header {
        height: 150px;
    }

    .header-logo {
        display: flex;
        gap: 10px;
        padding-top: 10px;
        padding-right: 20px;
    }

    .revou {
        width: 30px;
        height: 30px;
    }

    .km,
    .msib {
        width: 50px;
    }

    header h1 {
        font-size: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        text-shadow: -2px -2px 0 navy, 2px -2px 0 navy, -2px 2px 0 navy, 2px 2px 0 navy;
    }

    header p {
        font-size: 15px;
        text-shadow: -1px -1px 0 #0a142f, 1px -1px 0 #0a142f, -1px 1px 0 #0a142f, 1px 1px 0 #0a142f;
    }

    .header-nav {
        height: 20px;
        padding-top: 0;
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
    }

    .nav-item a {
        color: #ffff;
        text-decoration: none;
        font-size: 8px;
    }

    .nav-item a:hover {
        color: #0a142f;
        background-color: #ffff;
        padding: 5px;
        border-radius: 10px;
    }

    .main-section {
        margin: 0;
    }

    .grafik-section {
        margin: 0 10px 10px 10px;
    }

    [class*="-container"] {
        width: 100%;
    }

    .chart-container {
        height: 200px;
    }

    .lineChart,
    .barChart,
    .unitsLineChart,
    .pieChart {
        height: 180px;
        padding-top: 0;
    }

    .pie-container {
        height: 200px;
    }

    .table-container {
        height: 520px;
        font-size: 12px;
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        justify-content: right;
        gap: 15px;
        align-items: center;
        margin-bottom: 0;
    }

    .filter {
        display: flex;
        justify-content: right;
        gap: 10px;
        margin-bottom: 0;
    }

    #boroughFilter {
        width: 80px;
    }

    #neighborhoodFilter {
        width: 100px;
    }

    #buildingClassFilter {
        width: 130px;
    }

    .recordcount {
        height: 30px;
        padding-top: 0;
    }

    .text {
        font-size: 10px;
        font-weight: bold;
    }

    .value {
        font-size: 10px
    }

    .dashboard select {
        background-color: #f0f0f0;
        font-size: 8px;
        border-radius: 10px;
        border: 2px solid #0a142f;
        color: #0a142f;
    }

    .image-member {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 13px;
    }

    .h4-team-member {
        text-align: center;
        font-size: 12px;
        margin: 7px;
        width: 100px;
    }



    .background {
        padding: 20px 20px;
    }

    .container {
        text-align: center;
    }

    .upskill {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .req {
        font-family: "Libre Baskerville", serif;
        color: #ffff;
        margin-bottom: 10px;
        font-size: 35px;
    }

    .visual {
        text-align: center;
        width: 100%;
        font-family: "Actor", sans-serif;
        font-size: 15px;
        color: #ffff;
        opacity: 0.8;
        line-height: 1.8;
        margin-bottom: 45px;
    }

    .button button {
        font-family: "Actor", sans-serif;
        font-size: 15px;
        font-weight: 500px;
        color: #ffff;
        border: none;
        padding: 20px 60px;
        border-radius: 30px;
        background-color: #0081fe;
        margin-bottom: 50px;
    }

    .button button:hover {
        background-color: #4ea7ff;
    }

    .cr {
        font-family: "Actor", sans-serif;
        font-size: 16px;
        color: #ffff;
        opacity: 0.7;
        margin-bottom: 50px;
    }

    .line {
        border: 1px solid #fff;
        opacity: 0.2;
        margin-bottom: 32px;
    }


    /* ini */
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 15px;
        padding: 0;
    }

    .footer-img {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .footer-p {
        display: flex;
        flex: 2;
        justify-content: center;
        gap: 45px;
        font-family: "Actor", sans-serif;
        font-size: 16px;
        color: #fff;
    }

    .footer-p a {
        color: inherit;
        text-decoration: none;
    }

    .footer-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        gap: 25px;
    }
}