.body-background {
    margin: 0;
    background-color: rgb(203, 203, 203);
    font-family: 'Libre Baskerville', serif;
}

body {
    margin: 0;
}

header {
    background-image: url('assets/images/nyc.jpg');
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 95, 0.333);
}

.header-logo {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    gap: 30px;
    padding-top: 20px;
    padding-right: 20px;
}

.revou {
    width: 50px;
}

.km,
.msib {
    width: 80px;
}

.header-title {
    text-align: center;
    color: #ffff;
}

header h1 {
    font-size: 3em;
    justify-content: center;
    line-height: 1px;
    padding-bottom: 20px;
    text-shadow: -3px -3px 0 navy, 3px -3px 0 navy, -3px 3px 0 navy, 3px 3px 0 navy;
}

header p {
    font-size: 2em;
    line-height: 1px;
    text-shadow: -2px -2px 0 #0a142f, 2px -2px 0 #0a142f, -2px 2px 0 #0a142f, 2px 2px 0 #0a142f;
}

.header-nav {
    background-color: rgba(6, 6, 50, 0.596);
    color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.nav-item a {
    font-size: 15px;
    color: #ffff;
    text-decoration: none;
}

.nav-item a:hover {
    color: #0a142f;
    background-color: #ffff;
    padding: 5px;
    border-radius: 10px;
}

/**main content**/
.spinner-border {
    width: 2rem;
    height: 2rem;
    border-width: 0.25em;
}

.text-primary {
    color: #007bff;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* Optional: Center the spinner */
#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainContent {
    padding: 20px;
}

.main-section {
    margin: 20px;
}

.grafik-section {
    margin: 0 50px 10px 50px;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 0;
}

.recordcount {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 120px;
    height: 50px;
    background-color: #f0f0f0;
    color: #0a142f;
    border: 2px solid #0a142f;
    text-align: center;
    border-radius: 10px;
}

.filter {
    justify-content: right;
    display: flex;
    gap: 30px;
    height: 35px;
}

.filter select {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #0a142f;
}

#boroughFilter {
    width: 110px;
}

#neighborhoodFilter {
    width: 140px;
}

#buildingClassFilter {
    width: 200px;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    margin-bottom: 30px;
}

.chart-container {
    background-color: #0a142f;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 30px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 10px 20px;
    transition: transform 0.5s ease;
}

.chart-container:hover {
    transform: scale(1.03);
}

.pie-container {
    background-color: #0a142f;
    border-radius: 10px;
    color: #ffffff;
    flex: 50%;
    max-width: 48%;
    box-sizing: border-box;
    padding: 10px;
    height: 480px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 10px 20px;
    transition: transform 0.5s ease;
}

.pie-container:hover {
    transform: scale(1.03);
}

.table-container {
    background-color: #0a142f;
    border-radius: 10px;
    color: #ffffff;
    flex: 50%;
    max-width: 49%;
    box-sizing: border-box;
    padding: 10px;
    height: 480px;
    font-size: 12px;
    overflow: scroll;
    overflow-x: hidden;
    transition: transform 0.5s ease;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 10px 20px;
}

.table-container:hover {
    transform: scale(1.03);
}

.lineChart,
.unitsLineChart {
    width: 100%;
    height: 480px;
}

.barChart {
    width: 100%;
    height: 480px;
}

#tableChart {
    scroll-margin-top: 100px;
}

#lineChart,
#unitsLineChart,
#barChart {
    max-height: 480px;
    scroll-margin-top: 100px;
}

#pieChart {
    height: 450px;
    scroll-margin-top: 30px;
}

table.dataTable {
    border-collapse: collapse;
    width: 80%;
    background-color: #0a142f;
    text-align: center;
}

table.dataTable thead th {
    background-color: #1b2735;
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    font-size: 12px;
}

table.dataTable thead th:nth-child(2) {
    text-align: center;
}

table.dataTable tbody tr {
    background-color: #0a142f;
    color: white;
    font-size: 10px;
    text-align: center;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #111c2e;
    text-align: center;
}

table.dataTable tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

table.dataTable tfoot th {
    background-color: #1b2735;
    color: white;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #3e4551;
}

table.dataTable tbody td:nth-child(2) {
    text-align: center;
}


/**Our teams**/
.member-team {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#ffffff 0%, #0a142f 100%);
}

.wrapper {
    background: #fff;
    width: 1200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.executive-team {
    text-align: center;
}

.hr-team {
    width: 100px;
    margin: 10px auto;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-mem {
    margin: 8px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.image-member {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 13px;
}

.team-mem img {
    transition: transform 0.3s ease;
}

.team-mem:hover img {
    transform: scale(1.2);
}

.h4-team-member {
    text-align: center;
    font-size: 16px;
    margin: 7px;
    width: 200px;
}

/**footer**/
.background {
    background-color: #0a142f;
    padding: 50px 50px;
}

.container {
    text-align: center;
}

.upskill {
    font-family: 'Actor', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    opacity: 0.6;
    letter-spacing: 2.8px;
    margin-bottom: 20px;
}

.req {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    color: #ffff;
    margin-bottom: 20px;
}

.visual {
    text-align: center;
    width: 100%;
    font-family: 'Actor', sans-serif;
    font-size: 22px;
    color: #ffff;
    opacity: 0.8;
    line-height: 1.83;
    margin-bottom: 45px;
}

.button button {
    font-family: 'Actor', sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: #ffff;
    border: none;
    padding: 20px 60px;
    border-radius: 30px;
    background-color: #0081fe;
    margin-bottom: 50px;
}

.button button:hover {
    background-color: #4ea7ff;
}

.cr {
    font-family: "Actor", sans-serif;
    font-size: 16px;
    color: #ffff;
    opacity: 0.7;
    margin-bottom: 50px;
}

.line {
    border: 1px solid #fff;
    opacity: 0.2;
    margin-bottom: 32px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.footer-img {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    gap: 20px;
}

.footer-p {
    display: flex;
    gap: 30px;
    font-family: 'Actor', sans-serif;
    font-size: 16px;
    color: #fff;
}

.footer-p a {
    color: inherit;
    text-decoration: none;
}

.footer-icon {
    display: flex;
    gap: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 1px solid white;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: all 1.5s ease;
}

#myBtn:hover {
    background-color: #555;
}